<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{appName}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{~/css/dashboard.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{~/panel}" th:text="#{appName}"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/panel/}" th:text="#{home}">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{setting}"></a>
                </li>
                <form class="form-inline ">
                    <input class="form-control mr-sm-2 p-1 ml-5" type="text"
                           th:placeholder="#{search}" aria-label="Search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0 p-1"
                            th:text="#{search}" type="submit"></button>
                </form>
            </ul>

            <ul class="navbar-nav ml-4">
                <li class="nav-item active">
                    <a class="nav-link" th:text="${User.getUsername()}" th:alt="${User.getUsername()}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{profile}" th:alt="#{profile}"></a>
                </li>
                <li>
                    <a class="nav-link" th:text="#{exit}" th:href="@{~/logout}"></a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <p class="nav-link active" href="#" th:text="#{myFiles}"></p>
                </li>
                <ul class="secondSidebarMenu" th:each="mainCat : ${MainCategory}">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{'~/panel/category/'+${mainCat.getId()}}"
                           th:alt="${mainCat.categoryName}"
                           th:text="${mainCat.categoryName}"></a>
                    </li>
                </ul>
            </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <section class="row text-center placeholders pb-3">
                <div class="col-12 col-sm-12 placeholder createCategory">
                    <form th:action="@{'~/panel/category/'+${CurrentCategory.getId()}+'/newCategory'}" method="post">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <h5 class="mt-1 text-left" th:text="#{createCategory}"></h5>
                                </div>
                                <div class="col-7">
                                    <input type="text"
                                           name="newCategory"
                                           placeholder="Название категории"
                                           class="form-control"
                                    />
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-success btn-block"
                                            type="submit" th:text="#{create}">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <!--Error message-->
            <section class="row text-center placeholder">
                <div th:if="${Error != null}" class="col-12 col-sm-12 placeholder errorMsg mb-3">
                    <p th:text="${Error}"></p>
                </div>
            </section>


            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div th:if="${CurrentCategory != null}">
                            <h3 th:text="#{currentCategory}+' - '+${CurrentCategory.categoryName}"></h3>
                        </div>
                        <div th:if="${CurrentCategory == null}">
                            <h3 th:text="#{category}"></h3>
                        </div>
                    </div>

                    <!--Хлебные крошки-->
                    <ul class="breadCrumbs col-12">
                        <li th:each="piec : ${BreadCrumbs}">
                            <a th:text="${piec.categoryName}" th:href="@{'~/panel/category/' + ${piec.getId()}}"/>
                            <label class="mb-0"> / </label>
                        </li>
                    </ul>

                    <div class="table-responsive col-12">
                        <table class="table table-hover">
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th>Name</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <tbody>
                            <tr th:each="cat : ${CategoryList}">
                                <td class="col-6" th:text="${cat.getCategoryName()}"></td>
                                <td class="mr-2">
                                    <a th:href="@{'~/panel/category/'+${cat.getId()}}"
                                       th:alt="${cat.categoryName}"
                                       th:text="#{open}"></a>
                                </td>
                                <td class="mr-0">
                                    <a th:href="@{'~/panel/category/'+${CurrentCategory.getId()}+'/delete/'+${cat.getId()}}"
                                       th:alt="${cat.categoryName}"
                                       th:text="#{delete}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<ul class="" th:each="person : ${CategoryList}">-->
                        <!--<li th:text="${person.getCategoryName()}"></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
</body>
</html>